# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# LDAS Gatekeepers own all files
* @GEOS-ESM/ldas-gatekeepers

# The LDAS gatekeepers and CMake should know/approve these
/.github/    @GEOS-ESM/cmake-team @GEOS-ESM/ldas-gatekeepers
/.circleci/  @GEOS-ESM/cmake-team @GEOS-ESM/ldas-gatekeepers
/.codebuild/ @GEOS-ESM/cmake-team @GEOS-ESM/ldas-gatekeepers

# The GEOS CMake Team should be notified about changes to the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/ldas-gatekeepers

# The GEOS CMake Team should be notified about and approve config changes
/config/ @GEOS-ESM/cmake-team @GEOS-ESM/ldas-gatekeepers
