version: 2.1

# Anchor to prevent forgetting to update a version
baselibs_version: &baselibs_version v7.3.1

orbs:
  ci: geos-esm/circleci-tools@1

workflows:
  build-test:
    jobs:
      - ci/build:
          name: build-GEOSldas-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [ifort, gfortran]
          baselibs_version: *baselibs_version
          repo: GEOSldas
          mepodevelop: false
          persist_workspace: false # Needs to be true to run fv3/gcm experiment, costs extra
