version: 2.1

# Anchors in case we need to override the defaults from the orb
#baselibs_version: &baselibs_version v7.32.0
#bcs_version: &bcs_version v11.6.0

orbs:
  ci: geos-esm/circleci-tools@4

workflows:
  build-test:
    jobs:
      # Build GEOSldas
      - ci/build:
          name: build-GEOSldas-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [ifort, gfortran]
          #baselibs_version: *baselibs_version
          repo: GEOSldas
          mepodevelop: false
          # This is needed due to the LDAS BRIDGE workflow
          checkout_if_exists: false
          persist_workspace: false # Needs to be true to run fv3/gcm experiment, costs extra
