####################################################################################
#                                                                                  #
#                         GEOSldas Resource Parameters                             #
#                                                                                  #
#               Values below override the hardcoded default values                 #
#                 in *.F90 calls to MAPL_GetResource().                            #
#                                                                                  #
#               Users can further override the values below by                     #
#                 editing the "exeinp" file during ldas setup.                     #
#                                                                                  #
####################################################################################


# ---- Using Catchment[CN] offline?
#
#    0: DEFAULT for GCM,      (WW,CH,CM,CQ,FR) are required in Catchment restart file 
#    1: DEFAULT for GEOSldas, (WW,CH,CM,CQ,FR) are optional
#    2: Option  for GEOSldas, (WW,CH,CM,CQ,FR) are optional for input restart but will be in output
#                               restart; select when using GEOSldas to create restarts for the GCM.
#
CATCHMENT_OFFLINE: 1


# ---- Catchment[CN] spinup mode 
#
#    0 : No spinup (default)
#    1 : remove snow every Aug 1 in N. Hemisphere and every Feb 1 in S. Hemisphere
#
CATCHMENT_SPINUP: 0


# ---- Choice of land surface model
#
#    1 : Catchment model   (default)
#    2 : CatchmentCN-CLM4.0
#
LSM_CHOICE: 1


# ---- Domain definition
#
#      The domain is determined by specifying a lat/lon rectangle in conjunction
#      with ExcludeList and IncludeList files.  The files contain the IDs of tiles to
#      be excluded and included in the domain.
#      Included are all tiles within the rectangle or the IncludeList but not in the ExcludeList.
#      In case of conflict, the ExcludeList takes precedence.
#      The default is a GLOBAL (land) domain.
#
#      Specify extremities of lat/lon rectangle:
#         Max lat/lon range: lon=-180:180, lat=-90:90.
#      If only IncludeList should be used, specify dummy values such that:
#         MINLON > MAXLON and MINLAT > MAXLAT.
#
# MINLON: -180.
# MAXLON:  180.
# MINLAT:  -90.
# MAXLAT:   90.
#
#      Path and filenames for ExcludeList and IncludeList files.
#      (May leave blank.)
#
# EXCLUDE_FILE: '' 
# INCLUDE_FILE: '' 


# ---- Surface meteorological forcing: Horizonal interpolation 
#
#    1 :  bilinear interpolation (default)
#    0 :  nearest neighbor
#
#   When forcing is on CS grid, must set MET_HINTERP: 0 
#  
MET_HINTERP: 1


# ---- Specify if running model only or data assimilation
#
#  NO  : model only, with or without perturbations (default)
#  YES : assimilation (full land analysis or just processing of obs for "innovations" output)
#
LAND_ASSIM: NO

# ---- Specify land assimilation times (when "LAND_ASSIM: YES")
#
#  LANDASSIM_DT : land analysis time step        (seconds) 
#  LANDASSIM_T0 : land analysis "reference" time (hhmmss)
# 
#  LANDASSIM_T0 ("T0") and LANDASSIM_DT ("DT") define an infinite sequence of land analysis times:
#
#     ..., T0-3*DT, T0-2*DT, T0-DT, T0, T0+DT, T0+2*DT, T0+3*DT, ...
#
#  There is never a land analysis at the restart time.  Otherwise, the land analysis times are
#  independent of the restart time.  There may be a land analysis at the final time.
#
#  LANDASSIM_DT must be <=86400s, be a multiple of HEARTBEAT_DT, and evenly divide a day.
#  Consequently, only HHMMSS information is needed for LANDASSIM_T0.
#
#  Examples:
#   T0=013000, DT=10800s --> land analysis whenever model time reaches 1:30z, 4:30z, ..., 22:30z.
#   T0=163000, DT=10800s --> land analysis whenever model time reaches 1:30z, 4:30z, ..., 22:30z.
#   T0=120000, DT=21600s --> land analysis whenever model time reaches 0z, 6z, 12z, and 18z.
#
#  LANDASSIM_DT and LANDASSIM_T0 work almost but not quite like "frequency" and "reftime" from MAPL
#  HISTORY.  The difference is that MAPL HISTORY will not write output until "reftime" even when
#  (reftime - restarttime)/frequency > 1.  E.g., if frequency=3h, reftime=9z, and restarttime=0z,
#  then MAPL HISTORY will not write output until 9z, whereas with DT=3h, T0=9z, and restarttime=0z,
#  the land analysis will be run at 3z, 6z, 9z, 12z, ...
#
# LANDASSIM_DT: 10800
# LANDASSIM_T0: 000000   


# ---- Perturbations: On/off 
#
# If num_ensemble > 1, PERTURBATIONS will automatically be set to 1. 
#
#    0 : No perturbactions.
#    1 : With perturbations.
#
PERTURBATIONS: 0

# ---- Perturbations: ID of first ensemble member
#
FIRST_ENS_ID: 0


# ---- Ensemble forcing
#
#  NO  : Deterministic met forcing  (default)
#  YES : Ensemble met forcing
#        - Typically used in land-atmosphere data assimilation (LADAS) configuration
#            when coupled to 4dHybridEnVar ADAS.
#        - Must have forcing with matching ensemble ID for each land ensemble member.
#        - Forcing files must be stored in member-specific directories MET_PATH[NNN]/, 
#            where NNN is the 3-digit ensemble ID.
#        - User-specified MET_PATH and MET_TAG must not contain ensemble IDs.
#        - FIRST_ENS_ID may be used to align ensemble IDs.    
#
ENSEMBLE_FORCING: NO


# ---- Path to special namelist input files
#
#      Applies only for ensemble simulations. The variable values in the special 
#      namelist overwrite the DEFAULT values. There may be three files: 
#          LDASsa_SPECIAL_inputs_ensupd.nml 
#          LDASsa_SPECIAL_inputs_ensprop.nml 
#          LDASsa_SPECIAL_inputs_catbias.nml 
#
# NML_INPUT_PATH: ''


# ---- Path to (L-band) microwave radiative transfer model (mwRTM) parameter files:
#
#        [MWRTM_PATH]/[BCS_RESOLUTION]/mwRTM_param.nc4 - static (time-invariant) mwRTM parameters
#        [MWRTM_PATH]/[BCS_RESOLUTION]/vegopacity.bin  - seaonally-varying clim of veg opacity (OPTIONAL)
#
#      Must be provided for
#          - output of Tb through HISTORY or
#          - Tb assimilation.
#      Otherwise, leave unspecified (i.e., use default empty string).
#
#      If empty or commented out, GEOSldas will search the restart directory.
#
#      Must be tile-space data with resolution matching that of BCS (see BCS_RESOLUTION).
#
#      mwRTM_param.nc4 can be created from a binary file with the program mwrtm_bin2nc4.x. 
#
#      Vegetation attenuation is *either* computed from static parameters (bh, bv, lewt) and LAI
#      *or* prescribed from the vegopacity.bin file.  If the latter is used, (bh, bv, lewt) must
#      be no-data values in mwRTM_param.nc4.
#
# MWRTM_PATH: ''


# ---- Job segments: Length
#
#      Specify period between GEOSldas.x restart and shutdown.
#      Default is the entire simulation period (END_DATE minus BEG_DATE).
#      Format:            yyyymmdd hhmmss
#
# JOB_SGMT: 00000100 000000

# ---- Job segments: Number
#
#      One lenkf.j job simulates (NUM_SGMT*JOB_SGMT) time, then re-submits itself.
#      Avoid unnecessarily exiting and re-initializing GEOSldas.x by using 
#      NUM_SGMT=1 (default) and the max possible JOB_SGMT so that (NUM_SGMT*JOB_SGMT) 
#      completes within the job's wall time limit (12 hours at NCCS).  
#      If desired, request intermediate restart files using RECORD_FREQUENCY. 
#
# NUM_SGMT: 1


# ---- CHECKPOINT file output
#
#      By default, CHECKPOINT (restart) files are are written at the end of each job segment. 
#      Restart files can also be written before exiting GEOSldas.x. 
#      The following resource parameters specify the frequency and reference time and date.
#
# RECORD_FREQUENCY: 0240000              # hhhmmss          (can be greater than 1 day!)
# RECORD_REF_TIME:   000000              #  hhmmss          (reference time-of-day)
# RECORD_REF_DATE:  19790101 000000      # yyyymmdd hhmmss  (date/time after which checkpoints are written)


# ---- Output: Write log file (YES/NO)?
#
LDAS_logit: YES

# ---- Output: HISTORY definition of model diagnostics
#
#      User-defined path and filename of output (HISTORY) specification file.
#      If empty, ldas_setup will generate a default HISTORY.rc file.
#
#      For the "catch_progn_incr" and "lndfcstana" output Collections, the "frequency" and "ref_time"
#      settings must be consistent with "LANDASSIM_DT" and "LANDASSIM_T0" (see above).
#
# HISTRC_FILE: ''

# ---- Concatenate sub-daily nc4 files into daily nc4 files and write monthly-mean output?
#
#      Optional post-processing of model diagnostics output into bundled daily files and monthly means.
#      Reduces the file count and (optionally) the output volume.
#
#      Accurate monthly-means of time-average Collections require setting "ref_time" to "000000" in HISTRC_FILE!
#
#    0 : No post-processing (default).
#    1 : For complete days, concatenate (bundle) sub-daily nc4 files, if any, into daily nc4 files.  
#        For complete months, write monthly-mean nc4 files.  
#    2 : As in 1, but delete daily nc4 files.
#
# POSTPROC_HIST: 0


# ---- Name of file containing Surface GridComp resource parameters 
#
SURFRC: LDAS.rc


#--------------------------------------------------------#
# Do not change the following parameters in GEOSldas     #
#--------------------------------------------------------#

# ---- No dycore for offline
#
DYCORE: none

# ---- For MAPL_RestartOptional
#
MAPL_ENABLE_BOOTSTRAP: YES

#----- Write restart or checkpoint by oserver
#
WRITE_RESTART_BY_OSERVER: NO

#
# =================================== EOF ==========================================


