# 
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#
#                                                          #
# DEFAULT parameters in GEOSldas_LDAS.rc                   #
#                                                          #
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#

#--------------------------------------------------------#
# Rarely changed parameters in GEOSldas                  #
#--------------------------------------------------------#

# ---- Using offline?
#
#    0: DEFAULT for GCM. (WW,CH,CM,CQ,FR) are required in catchment restart file 
#    1: DEFAULT for GEOSldas (WW,CH,CM,CQ,FR) are optional
#    2: (WW,CH,CM,CQ,FR) are optional for input restart but will be in output restart 
#
CATCHMENT_OFFLINE              : 1

# ---- No dycore for offline
#
DYCORE                         : none

# ---- Only one surface level
#
LM                             : 1

# ---- First ensemble ID
#
FIRST_ENS_ID                   : 0

# ---- For MAPL_RestartOptional
#
MAPL_ENABLE_BOOTSTRAP          : YES

# ---- SURFLAY (Thickness of surface layer for soil moisture [mm])
# SURFLAY: 50.0 for New Soil Params (default, Ganymed-4 and later)
# SURFLAY: 20.0 Old Soil Params  (Ganymed-3 and earlier)
#
SURFLAY                        : 50.0

#--------------------------------------------------------#
# Optional parameters. Users can overwrite the defaults  #
# through the user-generated exeinp file.                #
#--------------------------------------------------------#

# ---- Metforce time step
#      Should be set in the exeinp file where MET_PATH is defined
#      3600 = default
#
# FORCE_DTSTEP                   : 3600

# ---- Choice of Land Surface Model:
#    1 : Catchment Model   (Default)
#    2 : CatchmentCN Model
#
LSM_CHOICE                     : 1

# ---- Domain definition:
#      The domain is determined by specifying a lat/lon rectangle in conjunction
#      with blacklist and whitelist files.  The files contain the IDs of tiles to
#      be excluded and included in the domain.
#      Included are all tiles within the rectangle or the whitelist but not in the blacklist.
#      Default is GLOBAL domain.
#
#      Specify extremities of lat/lon rectangle:
#         Max lat/lon range: lon=-180:180, lat=-90:90.
#      If only whitelist should be used, specify dummy valuessuch that:
#         MINLON > MAXLON and MINLAT > MAXLAT.
#
# MINLON                         : -180.
# MAXLON                         :  180.
# MINLAT                         :  -90.
# MAXLAT                         :   90.
#
#      Specify path and filenames for blacklist and whitelist files:
#      (May leave blank.)
#
# BLACK_FILE                     : '' 
# WHITE_FILE                     : '' 

# ---- Surface layer turbulence scheme:
#    0 : Louis                  (MERRA, Fortuna-DAS, SMAP NRv4/4.1/5/7.2)
#    1 : Helfand Monin-Obukhov  (Fortuna-AR5, Ganymed, Heracles, Icarus-3_2, MERRA-2)
#
CHOOSEMOSFC                    : 0

# ---- Formulation for turbulent roughness length (Z0):
#    0 : Fortuna,      SMAP NRv3
#    1 : Ganymed-4_1,  SMAP NRv4/NRv4.1
#    2 : Heracles-4_3, Icarus (AGCM default)
#    3 :               SMAP NRv5/NRv7.2
#    4 : Icarus-NLv3 (f525_fp)
#                      SMAP NRv8.1
#
Z0_FORMULATION                 : 4

# ---- ASCAT-derived roughness length:
#    0 : Default - do not use ASCAT information.
#    1 : Replace model roughness length with ASCAT Z0 where climatological NDVI<0.2.
#
USE_ASCATZ0                    : 0

# ---- Aerosol deposition on snow (available only with MERRA-2 forcings):
#    0 : DEFAULT, ALL GOCART Aerosol are NOT used
#    1 : use all GOCART aerosol data 
#    2 : GOCART DUST is NOT used
#    3 : GOCART Black Carbon is NOT used
#    4 : GOCART Organic Carbon is NOT used
#
AEROSOL_DEPOSITION             : 0

# ---- Run the irrigation model :
#    0 : Default - NO Do not run the irrigation model
#    1 : YES run the irrigation model
#
RUN_IRRIG                     : 0

# ---- irrigation model method :
#    0 : Default - Sprinkler and Flood irrigation combined
#    1 : sprinkler irrigation only
#    2 : flood irrigation only
#
IRRIG_METHOD                  : 0

# ---- Number of constituents for GOSWIM (the GOddard SnoW Impurity Module)
#    0 : Default, GOSWIM snow albedo scheme is turned OFF for land
#    9 : GOSWIM snow albedo scheme is turned ON for land
#
N_CONST_LAND4SNWALB            : 0

# ---- Perturbations (If num_ensemble > 1, PERTURBATIONS will automatically be set to 1): 
#    0 : No perturbactions.
#    1 : With perturbations.
#
PERTURBATIONS                  : 0

# ---- Path to special namelist input files:
#      This only applies for ensemble simulations. The variable values in special name list 
#      overwrite the DEFAULT values . There may be three files: 
#          LDASsa_SPECIAL_inputs_ensupd.nml, 
#          LDASsa_SPECIAL_inputs_ensprop.nml, and 
#          LDASsa_SPECIAL_inputs_catbias.nml 
#
# NML_INPUT_PATH                 : ''

# ---- Write log file (YES/NO)?
#
LDAS_logit                     : YES

# ---- Job segment length:
#      Specify period between output of restart files.  (GEOSldas.x shuts down and restarts.)
#      Default is the entire simulation period (END_DATE minus BEG_DATE).
#      Format:            yyyymmdd hhmmss
#
# JOB_SGMT                       : 00000100 000000

# ---- Number of segments:
#      One lenkf.j job simulates NUM_SGMT*JOB_SGMT time, then re-submits itself,
#      so (NUM_SGMT*JOB_SGMT) should be done within the 12 hour CPU time limit (at NCCS).
#      Low values for NUM_SGMT are recommended for run-time and storage efficiency.
#      Default is 1.
#
# NUM_SGMT                       : 1

# ---- User defined Path and filename of output (HISTORY) specification file:
#      If it is empty, ldas_setup will generate default HISTORY.rc.
#
# HISTRC_FILE                    : ''

# ---- Write only monthly output?
#      Monthly files can be created from daily files. 
#      To have accurate monthly averages, the ref_time in HISTORY.rc should be 000000
#
#    0 : Output bundled into daily files per HISTORY specifications (default).
#    1 : Monthly files will be created. Daily files will *not* be deleted.
#    2 : Monthly files will be created and daily files will be deleted automatically.
#
# MONTHLY_OUTPUT                : 0
 
# ---- Specify how to interpolate the forcing (Default is 1):
#    1 :  bilinear interpolation
#    0 :  nearest neighbor
#
MET_HINTERP                    : 1

# ---- Specify if running model or assimilation:
#    NO  : model only (DEFAULT; with --runmodel option)
#    YES : assimilation (without --runmodel option)
#
LAND_ASSIM                     : NO

# ---- Choose land model version
#    Icarus  : Current DEFAULT for the Icarus AGCM (Scientifically close to MERRA-2)
#    V24_C05 : DEFAULT for GEOSldas_m4-17_0
#    NRv7.2  : Current DEFAULT beginning with GEOSldas_m4-17_6 (same in NRv8.1)
#
LAND_PARAMS                    : NRv7.2

# ---- File name for mwRTM parameter file (nc4 format) used in assimilation runs.
#      This file can be converted from binary with the program mwrtm_bin2nc4.x. 
#      If empty or commented out, GEOSldas will search the restart directory.
#
# MWRTM_FILE                     : ''

#--------------------------------------------------------#
#             CatchCN Model specific parameters          #
#--------------------------------------------------------#

# ---- Time step for carbon/nitrogen routines in CatchmentCN model (default 5400):
#      (Time step for water/energy routines is controlled by HEARTBEAT_DT in CAP.rc)
#
# DTCN                           : 5400

#  ---- Atmospheric CO2
#    0: use a fix value as defined by below CO2 (default=350.e-6)
#    1: NOAA CT tracker monthly mean diurnal cycle
#    2: NOAA CT tracker monthly mean diurnal cycle scaled to match EEA global average CO2
#       By default NOAA CT CO2 is scaled to the EEA global average CO2 linearly interpolated to the METFORCE year. 
#       For offline simulations : the default holds but with the below optional parameter CO2_YEAR, which permits user to 
#       set the beginning year of the atmospheric CO2 concentration of the simulation if it's earlier than the METFORCE year.
#    3: CMIP5 recommended annual average global mean concentrations from getco2.F90 (1765-2150)
#    4: import AGCM model CO2 (AGCM Only)
#
# ATM_CO2: 2
# CO2: 350.e-6
# CO2_YEAR:

# ---- Prescribe daily LAI and SAI data from an archived CATCHCN simulation 
#    0 : NO Run CN Model interactively (Default)
#    1 : YES Prescribe interannually varying LAI and SAI
#    2 : YES Prescribe climatological LAI and SAI
#    3 : Estimated LAI/SAI using anomalies at the beginning of the foeecast and climatological LAI/SAI
#    4 : Write LAI/SAI anomalies in catchcn_internal_rst for above option 3
#
# PRESCRIBE_DVG: 0

# ---- Scale CATCHCN ALBEDO and FPAR
#    0: NO scaling is performed (default)
#    1: Scale albedo to match interannually varying MODIS NIRDF and VISDF anomaly
#    2: Scale albedo to match CDFs of model fPAR to MODIS CDFs of fPAR 
#    3: Perform both 1 and 2 above 
#
# SCALE_ALBFPAR: 0

#land Physics Parameters Resource File
# -------------------------------------
#
LANDRC: LDAS.rc
