name: Build Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Do not run if the only files changed cannot affect the build
    paths-ignore:
      - "**.md"
      - "**.json"
      - "ChangeLog-PreJason.txt"
      - "parallel_build.csh"
      - ".github/CODEOWNERS"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".editorconfig"
      - ".codebuild/**"
      - ".circleci/**"

jobs:
  build_test_ldas_gnu:
    name: gfortran / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env-mkl:v8.18.0-openmpi_5.0.5-gcc_14.2.0
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    env:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test GEOSldas
        uses: ./.github/actions/ci-build
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: gfortran
          extra-cmake-args: -DMPIEXEC_PREFLAGS='--oversubscribe'

  build_test_geosldas_ifort:
    name: ifort / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env:v8.18.0-intelmpi_2021.13-ifort_2021.13
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test GEOSldas
        uses: ./.github/actions/ci-build
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: ifort

  # We cannot currently test with ifx because HDF4 Fortran interface
  # cannot be compiled with ifx.  The HDF4 Fortran interface is required
  # for the GEOSldas
  ################################################################################
  # build_test_geosldas_ifx:                                                     #
  #   name: ifx / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }} #
  #   runs-on: ubuntu-latest                                                     #
  #   container:                                                                 #
  #     image: gmao/ubuntu24-geos-env:v8.18.0-intelmpi_2021.15-ifx_2025.1        #
  #   strategy:                                                                  #
  #     fail-fast: false                                                         #
  #     matrix:                                                                  #
  #       cmake-build-type: [Debug, Release]                                     #
  #       cmake-generator: [Unix Makefiles]                                      #
  #   steps:                                                                     #
  #     - name: Checkout                                                         #
  #       uses: actions/checkout@v5                                              #
  #       with:                                                                  #
  #         fetch-depth: 1                                                       #
  #         filter: blob:none                                                    #
  #                                                                              #
  #     - name: Build and Test GEOSldas                                          #
  #       uses: ./.github/actions/ci-build                                       #
  #       with:                                                                  #
  #         cmake-build-type: ${{ matrix.cmake-build-type }}                     #
  #         cmake-generator: ${{ matrix.cmake-generator }}                       #
  #         fortran-compiler: ifx                                                #
  ################################################################################
